

<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.okta.com/company/">Company</a></li>
                    <li><a href="https://status.okta.com/">Okta Service Availability</a></li>
                    <li><a href="https://www.okta.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="https://developer.okta.com/">Okta Developer site</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Copyright © {{test | date: 'yyyy'}}, Okta. All rights reserved.
                </span>
            </div>
        </div>
    </div>
</footer>
